@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
html, body {
    font-family: 'Tapestry', cursive;
}
.carousel-item img {
    width: 100%;
}
.carousel-item .row {
    background-color: red;
}
.wrapper {
    display: flex;
}
.content_wrap {
    width: 50%;
}
.card {
    background: red;
}
.card-body {
    padding: 30px 15px !important;
}
@media  (max-width:1199px) {

}
@media  (max-width:1024px) {
    .card-body {
        padding: 15px;
    }

}
@media  (max-width:991px)  {

}
@media  (max-width:767px) {
    .wrapper {
        /* display: flex; */
        flex-wrap: wrap;
    }
    .content_wrap {
        width: 100%;
    }
}
@media  (max-width:575px) {

}
@media  (max-width:479px){
    
}